@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #fac2ecc6;
  --secondary: #ffffffda;
}
body {
  margin: 0;
  padding: 0px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
 
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  background: var(--primary);
  cursor: pointer;
}

